<div class="clearfix filters-container">
  <div class="text-right">
    <div class="pagination-container">
      <%= paginate object %>
    </div><!-- /.pagination-container -->						    
  </div><!-- /.text-right -->
</div><!-- /.filters-container -->