.body-content.outer-top-bd
  .container
    = render partial: 'includes/messages_errors', locals: {object: @cliente}
    %h1
      Cambio de contraseña
    %br
    .track-order-page.inner-bottom-sm
      .row
        .col-md-12
          = form_for @cliente, url:  process_change_session_path(@cliente), method: :post, class: "register-form outer-top-xs"   do |f|
            = f.hidden_field :token_pass, value: @cliente.token_pass
            = render partial: "form_clave", locals:{f: f}