<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Camiones <small>/ Agregar</small>
    </h1>
    <%= render 'admin/includes/top' %>
  </div>
</div>


<%=render partial: 'form', locals:{path_form:  admin_trucks_path , method_form: 'post'} %>




<script>
    var ready;
    ready = function() {

        $('#truck_state_id').on('change', function() {

            $('#truck_city_id option').html('')
            function loader(data){
                $('#truck_city_id option').html('Cargando...')
            };

            function error(data){
                alert("Error enviados los datos");
            };



            $.ajax({
                async: true,
                type: "GET",
                dataType: 'json',
                beforeSend:loader,
                error:error,
                success: function (msg) {


                    $('#truck_city_id').html('')


                    $.each(msg, function(index, value) {
                        console.log('<option value="'+value.id+'">'+value.name+'</option>');
                        $('#truck_city_id').append('<option value="'+value.id+'">'+value.name+'</option>')
                    });

                },
                url:"/admin/states/"+this.value+"/cities.json"
            });





        });


        $('#truck_placa_state_id').on('change', function() {

            $('#truck_placa_city_id option').html('')
            function loader(data){
                $('#truck_placa_city_id option').html('Cargando...')
            };

            function error(data){
                alert("Error enviados los datos");
            };



            $.ajax({
                async: true,
                type: "GET",
                dataType: 'json',
                beforeSend:loader,
                error:error,
                success: function (msg) {


                    $('#truck_placa_city_id').html('')


                    $.each(msg, function(index, value) {
                        console.log('<option value="'+value.id+'">'+value.name+'</option>');
                        $('#truck_placa_city_id').append('<option value="'+value.id+'">'+value.name+'</option>')
                    });

                },
                url:"/admin/states/"+this.value+"/cities.json"
            });





        });

    };

    $(document).ready(ready);
    $(document).on('page:load', ready);


</script>








