  <div class="sidebar-widget  wow fadeInUp outer-top-vs ">

    <% @banners.each do |banner| %>
      
      <div class="item bg-color">
        <a href="<%= banner.url %>"><%= image_tag banner.picture(:medium), :style=>'max-width:100%; width:100%',  size: '250x250'  %></a>
        <br/><br/>
      </div><!-- /.item -->

    <% end %>

  </div>
