- if @result.nil?
  %h2 Camiones
  = render partial: 'shared/list_trucks'
  %h2 Repuestos
  = render partial: 'shared/list_extras'
  %h2 Servicios
  = render partial: 'shared/list_services'
- else
  .row
    %h2
      = @result.to_s