.well
  = search_form_for @search, url:  servicios_path, id: "search_serv", method: :post do |f|
    %p
      %fieldset.attribute_fieldset
        %label.attribute_label.attribute-key{:for => "group_1"}
          %p
            TIPO DE
            %b SERVICIO
        .attribute_list
          = f.select(:type_service_id_eq, options_from_collection_for_select(TypeService.order(:id), :id,:name), {prompt: 'Selecciona'}, { class:  'form-control', id: 'state_service'})
    %p
      %fieldset.attribute_fieldset
        %label.attribute_label.attribute-key{:for => "group_1"}
          %p UBICACIÓN
        .attribute_list
          = f.select(:state_id_eq, options_from_collection_for_select(@states, :id,:name), {prompt: 'Selecciona'}, { class:  'form-control'})
    %p
      %fieldset.attribute_fieldset
        %label.attribute_label.attribute-key{:for => "group_1"}  
        .attribute_list.pull-right{:style => "width:100%"}
          = f.submit "BUSCAR", class: "btn-servi btn btn-primary"