.breadcrumb
.container
  .breadcrumb-inner
    %ul.list-inline.list-unstyled
      %li
        %a{:href => "/"} Home
      %li.active= params[:consulta]
  #all_searches
    = render partial: "shared/buscador"