<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Servicios <small>/ Agregar</small>
    </h1>

  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <%= render partial: 'includes/messages_errors', locals: {object: @service} %>
    <%= simple_form_for @service, :url => miserviciosnew_path, :method=>'post' do |f|  %>

      <%= render partial: 'shared/form_service', locals:{ f: f, bandNew: true,type:5} %>

      <!--Imagenes--> 

      <%= render partial: 'shared/botonera', locals:{ object: f, cancel_route: miservicios_path } %>
    
    <% end %>

  </div>
</div>

<script>
    var ready;
    ready = function() {

        $('#service_state_id').on('change', function() {

            $('#truck_city_id option').html('');
            function loader(data){
                $('#truck_city_id option').html('Cargando...');
            };

            function error(data){
                alert("Error enviados los datos");
            }



            $.ajax({
                async: true,
                type: "GET",
                dataType: 'json',
                beforeSend:loader,
                error:error,
                success: function (msg) {


                    $('#service_city_id').html('');


                    $.each(msg, function(index, value) {
                        console.log('<option value="'+value.id+'">'+value.name+'</option>');
                        $('#service_city_id').append('<option value="'+value.id+'">'+value.name+'</option>')
                    });

                },
                url:"/admin/states/"+this.value+"/cities.json"
            });





        });

    };

    $(document).ready(ready);
    $(document).on('page:load', ready);

</script>