.breadcrumb
.container
  .breadcrumb-inner
    %ul.list-inline.list-unstyled
      %li
        %a{:href => "/"} Home
      %li /
      %li.active Repuestos
.body-content.outer-top-xs
  .container
    .row.outer-bottom-sm
      .col-md-3.sidebar
        = render 'shared/type_extras'
        .sidebar-module-container
          = render "shared/buscadoravanzado_extras"
      .col-md-9
        .search-result-container
          #myTabContent.tab-content
            #grid-container.tab-pane.active
              .category-product.inner-top-vs
                .row
                  #list_extras
                    = render partial: 'shared/list_extras'