<div class="body-content outer-top-bd">
	<div class="container">
		<div class="track-order-page inner-bottom-sm">
			<div class="row">
				<div class="col-md-12 tex-pol">
	<h2>TERMINOS Y CONDICIONES GENERALES CAMION365</h2>
	<p>
		Este documento describe los términos y condiciones generales aplicables al uso de los servicios ofrecidos por  CAMION365 
Cualquier persona  que desee ingresar y/o usar la Pagina web  o los servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales, junto con todas las demás políticas de privacidad y confidencialidad de la información
<br><br>
El Cliente  debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones Generales 
</p>
<h3>DERECHO DE ADMISION</h3>
<p>
 CAMION365 se reserva el derecho de no publicar aquellos avisos que no cumplan con los Términos establecidos por  CAMION365 en cuanto a tipos y clasificación de camiones, fotografías defectuosas, fuera de ángulo, fotografías rechazadas o editar datos que contradigan nuestras condiciones. CAMION365, a su exclusiva discreción, podrá publicar dichos avisos en una sección especial de la página web , hasta tanto el contratante modifique el anuncio adecuándolo a los Términos y condiciones establecidas por CAMION365. También podrá suspender cualquier publicación que estime conveniente, sin previo aviso o notificación.
<br><br>
CAMION365 asume la conformidad del Cliente  con el anuncio, una vez transcurridos 8 días hábiles de publicación. En caso que el Cliente  encontrara que hay algún dato incorrecto o tuviere alguna acotación relacionada con sustitución de fotos o modificación de datos (excepto el renglón denominado EXTRAS), deberá ser notificada al equipo de CAMION365 antes de ese lapso de tiempo, caso contrario aplicarán las condiciones establecidas para modificaciones de anuncios.
</p>  

 <h3>PUBLICACION DE ANUNCIOS</h3> 
<p> La publicación de anuncios en el Sitio puede ser realizada por el mismo Cliente  o empleados de CAMION365 siguiendo  todas  sus instrucciones expresas en cuanto en cuanto a tipos y clasificación de camiones, fotografías y  datos en general que ayuden a la efectividad he dicho anuncio.
 En todos los anuncios, el Cliente  deberá brindar y publicar toda información relativa el bien ofrecido de manera exacta, precisa y verdadera y asume el compromiso de actualizarla conforme resulte necesario. 
</p>

<h3>INCLUSIONES PERMITIDAS EN LA PUBLICACION </h3>

<p>
	En todos los casos, los bienes deberán anunciarse en las categorías y subcategorías apropiadas. Los anuncios podrán incluir textos descriptivos, gráficos, fotografías y otros contenidos y condiciones pertinentes para la venta del bien, siempre que no violen ninguna ley, disposición de este acuerdo o demás políticas.
 El bien ofrecido por el Cliente debe ser exactamente descrito en cuanto a sus condiciones y características relevantes. En el caso de que se incluya una fotografía, esta deberá corresponder específicamente al bien que se ofrece. Se entiende y presume que mediante la inclusión del bien en la Página , el Cliente acepta que tiene la intención y el derecho de venderlo, o está facultado para ello por su titular. Se establece que los precios de los bienes publicados deberán ser expresados con todos los impuestos incluidos cuando corresponda la aplicación de los mismos, y en moneda del curso legal. En caso que se detecte una infracción a cualquiera de las disposiciones establecidas en esta cláusula, CAMION365 podrá editar el espacio o dar de baja la publicación donde se encuentre la infracción y en ningún caso se devolverán o bonificarán los cargos de publicación.
</p>
<h3>DISPONIBILIDAD</h3> 
<p>
Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar.</p>

<h3>CARGO DE LA PUBLICACION</h3> 
<p>
 Al publicar un bien para la venta en CAMION365, el Usuario deberá pagar un cargo de publicación. Para más información ver
<br>
TARIFAS CAMION 365</p>

<h3>PUBLICAIONES  PROHIBIDAS:</h3> 
Sólo podrá publicarse bienes cuya venta no se encuentre expresamente prohibida o limitada en los Términos y Condiciones Generales o por la ley vigente.
</p>


<h3>PUBLICACION ILIMITADA   </h3>

<p>El término de la publicación es ilimitado. Sin embargo, cada 30 días (contados desde el primer día de publicación) el contratante deberá notificar a CAMION365 si desea continuar con el servicio, caso contrario y vencido este plazo, CAMION365 se reserva el derecho de suspender la publicación sin previo aviso. </p>
 	 
<h3>RENOVACIONES</h3> 
<p>
	Las renovaciones son gratuitas siempre y cuando se realicen dentro del lapso establecido. CAMION365 no asume obligación de notificar al contratante la fecha de vencimiento de la publicación, sin perjuicio de ello, en caso que lo notificare no se entenderá que ello genera obligación de seguir haciéndolo. Es deber del contratante verificar la continuidad de su aviso en el Sitio, aún así haya efectuado la renovación.
<br><br>
CAMION365 recomienda actuar con prudencia y sentido común al momento de realizar operaciones con otros Clientes. 
El Cliente  debe tener presentes, además, los riesgos de contratar con menores o con personas que se valgan de una identidad falsa. * En caso que uno o más Usuarios o algún tercero inicien cualquier tipo de reclamo o acciones legales contra otro u otros Usuarios, todos y cada uno de los Usuarios involucrados en dichos reclamos o acciones eximen de toda responsabilidad a CAMION365 y a sus directores, gerentes, empleados, agentes, operarios, representantes y apoderados.</p>

<h3>ALCANCES DEL SITIO </h3>
<p>
	Este acuerdo no crea ningún contrato de sociedad, de mandato, de franquicia, o relación laboral entre CAMION365 y el Cliente. El Usuario reconoce y acepta que CAMION365 no es parte en ninguna operación, ni tiene control alguno sobre la calidad, seguridad o legalidad de los bienes anunciados, la veracidad o exactitud de los anuncios, la capacidad de los Usuarios para vender o comprar bienes CAMION365 no puede asegurar que un Usuario completará una operación ni podrá verificar la identidad o datos personales ingresados por los Usuarios CAMION365 no garantiza la veracidad de la publicidad de terceros que aparezca en el sitio y no será responsable por la correspondencia o contratos que el Usuario celebre con dichos terceros o con otros Usuarios.</p>

<h3>REINTEGROS DE DINERO / DEVOLUCIONES</h3>  
<p>
	En caso que el Cliente pagare la publicación de su aviso, asume la responsabilidad de publicarlo. La empresa no será responsable ni reintegrará el dinero pagado por anuncios no publicados o retirados luego de publicados a petición explícita del contratante puesto que el servicio y el cargo se genera desde su contratación. El precio pagado por la publicación de un determinado aviso no podrá imputarse al pago de la publicación de un anuncio que se refiera a otro bien y/o que contenga otra información.
 </p>	
 <h3>FOTOCLASIFICADO</h3>
<p>
 El fotoclasificado es válido única y exclusivamente para la venta de un (1) solo vehículo por clasificado. CAMION365 se reserva el derecho de eliminar o no publicar clasificados que pretendan vender más de un carro o unidad en un mismo aviso. CAMION365 se reserva el derecho de publicar un mismo carro con dos contratantes distintos, si esto ocurriera primará como válida la última publicación recibida y facturada, dejando sin efecto cualquier publicación anterior.</p>

<h3>SEGURIDAD Y  PRIVACIDAD</h3> 
<p>
	Los Clientes  deberán facilitar determinados datos personales. Su información personal se procesa y almacena en los  servidores  que mantienen altos estándares de seguridad y protección tanto física como tecnológica. Una vez registrado el Sitio, CAMION365 no venderá, alquilará o compartirá la información personal excepto en las formas establecidas en sus políticas. Puede suceder que en virtud de órdenes judiciales, o de regulaciones legales, nos veamos compelidos a revelar información a las autoridades o terceras partes bajo ciertas circunstancias, o bien en casos que terceras partes puedan interceptar o acceder a cierta información o transmisiones de datos en cuyo caso CAMION365 no responderá por la información que sea revelada
</p>

<h3> VIOLACIONES DEL SISTEMA O BASES DE DATOS</h3> 
<p>
No está permitida ningun uso de dispositivos, software, u otro medio tendiente a interferir tanto en las actividades  de CAMION365 como en las ofertas, descripciones, cuentas o bases de datos CAMION365 Cualquier actividad violatoria o contraria a las leyes sobre derecho de propiedad intelectual y/o a las prohibiciones estipuladas en este contrato harán pasible a su responsable de las acciones legales pertinentes, y a las sanciones previstas por este acuerdo, así como lo hará responsable de indemnizar los daños ocasionados.
Los contenidos de las pantallas relativas a los servicios de CAMION365 como así también los programas, bases de datos, redes, archivos que permiten al Cliente  acceder y usar su Cuenta, son de propiedad de CAMION365 y están protegidas por las leyes y los tratados internacionales de derecho de autor, marcas, patentes, modelos y diseños industriales. El uso indebido y la reproducción total o parcial de dichos contenidos quedan prohibidos, salvo autorización expresa y por escrito de CAMION365
</p>


 	<h3> SANCIONES</h3>
<p>
Sin perjuicio de otras medidas CAMION365 podrá advertir, suspender temporal o inhabilitará definitivamente a un Usuario o un aviso en alguno de los siguientes casos
<br><br>
1  si tuviera conocimiento que se  quebrantara alguna ley, o cualquiera de las estipulaciones de  los Términos y Condiciones Generales y demás políticas del Sitio
<br>
2 si incumpliera sus compromisos como Usuario
<br>
3. si  incurriera en conductas o actos dolosos o fraudulentos
<br>
4 si cualquier información proporcionada por el mismo fuere errónea</p>

<h3> 	RESPONSABILIDAD CON NUESTROS CLIENTES </h3>
<p>
	CAMION365 NO es el propietario de los bienes ofrecidos, no tiene posesión de ellos ni los ofrece en venta. CAMION365 sólo pone a disposición de los Clientes un espacio virtual que permite la publicación de anuncios clasificados de bienes ofrecidos por terceros.
	<br><br>
CAMION365 NO interviene en el perfeccionamiento de las operaciones realizadas entre los Clientes ni en las condiciones por ellos estipuladas para las mismas.
<br><br>
CAMION365 NO será responsable respecto de la existencia, calidad, cantidad, estado, integridad o legitimidad de los bienes ofrecidos, adquiridos o enajenados por los Usuarios, así como de la capacidad para contratar de los Usuarios o de la veracidad de los datos personales por ellos ingresados, ya que su servicio de publicación o  avisos clasificados se presta en los términos contratados por el usuario contratante. Cada Cliente conoce y acepta ser el exclusivo responsable por los bienes que anuncia para su venta y por la forma de llevar adelante una transacción.
<br><br>
CAMION365 NO se responsabiliza por la certeza de la información provista por sus Usuarios, tanto la relativa a sus datos personales como al bien ofrecido. Los Usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de todos los datos ingresados.
<br><br>
 CAMION365 NO asume ninguna responsabilidad por la información contenida en los anuncios, ya que la misma ha sido suministrada y corroborada por el Cliente contratante
<br><br>
 CAMION365 NO será responsable por errores, interpretaciones erradas o por la precisión de la información parcial o total publicada. Es responsabilidad del Cliente que contrató el servicio de publicación de aviso clasificado verificar que los datos contenidos en el aviso sean correctos y estén actualizados.
<br><br>
CAMION365 NO  tiene ninguna participación durante todo el tiempo en que el bien se anuncia para la venta, ni en la posterior negociación y perfeccionamiento del contrato definitivo entre las partes. 
<br><br>
CAMION365 NO será responsable por la realización de operaciones con otros Usuarios basadas en la confianza depositada en el sistema o los Servicios brindados por el Sitio web.
<br><br>
CAMION365 NO será responsable por el efectivo cumplimiento de las obligaciones asumidas por los Clientes  en el perfeccionamiento de la operación. El Usuario conoce y acepta que al realizar operaciones con otros Usuarios o terceros lo hace bajo su propio riesgo. 
<br><br>
CAMION365 NO será responsable por lucro cesante, o por cualquier otro daño y/o perjuicio que haya podido sufrir el Usuario, debido a las operaciones realizadas o no realizadas por bienes anunciados a través del sitio web.
<br><br>
CAMION365 NO será responsable por ningún error u omisión contenidos en su sitio web.
<br><br>
CAMION365 NO se responsabiliza por ningún daño, perjuicio o pérdida sufrida por el Usuario, causados por fallas en el sistema, en el servidor o en Internet. Tampoco será responsable por ningún virus que pudiera infectar el equipo del Usuario como consecuencia del acceso, uso o examen de su sitio web o a raíz de cualquier transferencia de datos, archivos, imágenes, textos, o audio contenidos en el mismo. Los Usuarios NO podrán imputarle responsabilidad alguna ni exigir pago por lucro cesante, en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en Internet.
<br><br>
CAMION365 NO garantiza el acceso y uso continuado o ininterrumpido de su sitio. El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier otra circunstancia ajena a CAMION365; en tales casos se procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad. 
<br><br>
CAMION365 NO será responsable por los contenidos, materiales, acciones y/o servicios prestados otros sitios web , ni por daños o pérdidas ocasionadas por la utilización de los mismos, sean causadas directa o indirectamente. La presencia de enlaces a otros sitios web no implica una sociedad, relación, aprobación, respaldo de CAMION365 a dichos sitios y sus contenidos.
<br><br>
CAMION365 Se  fija como en Medellín. El ubicado en la calle 10 sur #43 a 54 PARQUES DE LORENA INT 319 
<br><br>
CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS SERVICIOS.
Este acuerdo estará regido en todos sus puntos por las leyes vigentes en la República de Colombia.
</p>
<div><%= link_to "Registrarse", registrar_usuario_sessions_path , class: 'btn btn-primary' %></div>
</div>			</div><!-- /.row -->
		</div><!-- /.sigin-in-->
		<!-- ============================================== BRANDS CAROUSEL ============================================== -->

<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->
</div><!-- /.body-content -->
</div><!-- /.body-content -->