<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Url</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% @banners_filter.each do |banner| %>
        <tr>
            <td>
                <%= banner.name %>
            </td>

            <td>
                <%= link_to 'Editar', edit_admin_house_path(banner.id), :class=>'btn btn-info' %>
                <% # link_to 'Eliminar', {:controller => 'houses', :action => 'destroy', :id => banner.id}, :data => {:confirm => 'Estas seguro de eliminar este elemento?'}, :method => 'DELETE',  :class=>'btn btn-danger' %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>