<!DOCTYPE html>
 
<html lang="es">
 
<head>
<title>Titulo de la web</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="style.css" />
<link rel="shortcut icon" href="/favicon.ico" />

<style type="text/css">
body {
  margin:20px 0 0 0;
}
p{
  font-size: 16px;
  text-align: left;
  color: #444;
  font-family: "calibri";
}
b{
  font-size: 16px;
  text-align: left;
  color:#F78018;
  font-family: "calibri";
}
h2{
  color: #F78018;
   font-size: 24px;
  text-align: left;
  font-family: "calibri";
}
.bor{
  width: 100%;
  border-top: 1px solid #CCC;
  float: left;
  padding: 20px 0 30px 0; 
}
a{
  text-decoration: none;
  color: #F78018;
}
</style>

</head>
 
<body style="background-color: #EFEFEF;"><center>
   
  <table width="750" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
    
    <div style="float:left;width:100%;text-align: center;"><img src="logo-mail.png"></div>
    <div style="float:left;background-color:#FFF;width:100%;margin-top-5px;border-radius: 10px;padding: 20px;">
      <h2>Gracias por Registrarte!!!</h2>

      <p>Recuerda que has adquirido un <b>PLAN (FULL)</b> el cual se compone de:
        <br><br>
      <b>(5)</b> Anuncios para Vehículo. Estos con una vigencia de 2 meses
      <br>
      <b>(2)</b> Anuncios para Repuestos. Estos con una vigencia de 6 meses
      <br>
      <b>(3)</b> Anuncios para Servicios. Estos con una vigencia de 6 meses
      <br><br>
      Ya puedes ingresar a tu cuenta <a href="">AQUÍ</a> y poder iniciar con la administración de tus anuncios.
    </p>

<p class="bor"> 
Si tienes dudas contáctanos:<br>
Tel.: (57) 317 4395045
</p>
    </div>
    
    </td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>

</center></body>
</html>