<!DOCTYPE html>
 
<html lang="es">
 
<head>
<title>Bienvenido</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="style.css" />
<link rel="shortcut icon" href="/favicon.ico" />

<style type="text/css">
body {
  margin:20px 0 0 0;
}
p{
  font-size: 16px;
  text-align: left;
  color: #444;
  font-family: "calibri";
}
b{
  font-size: 16px;
  text-align: left;
  color:#F78018;
  font-family: "calibri";
}
h2{
  color: #F78018;
   font-size: 24px;
  text-align: left;
  font-family: "calibri";
}
.bor{
  width: 100%;
  border-top: 1px solid #CCC;
  float: left;
  padding: 20px 0 30px 0; 
}
a{
  text-decoration: none;
  color: #F78018;
}
</style>

</head>
 
<body style="background-color: #EFEFEF;"><center>
   
  <table width="750" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
    
    <div style="float:left;width:100%;text-align: center;"><%= image_tag attachments['logo.png'].url, alt: "Camión365.com" %></div>
    <div style="float:left;background-color:#FFF;width:100%;margin-top-5px;border-radius: 10px;padding: 20px;">
      <h2><%= "Sr(a) #{@user.name} Solicitud cambio de clave!!!" %></h2>
      <p>Ya puedes cambiar tu clave <a href= <%= @url %>>AQUÍ</a>.</p>
      <p>Si ud no realizó esta solicitud omitir el mensaje he informar al administrador del sistema</p>
<p class="bor"> 
Si tienes dudas contáctanos:<br>
Tel.: (57) 317 4395045
</p>
    </div>
    
    </td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>

</center></body>
</html>